body, html {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #f6f6f6;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #222222;
}

main {
    padding: 4rem;
    background-color: #333333;
    border-radius: 1rem;
}

main h1 {
    font-size: 48px;
    color: #f6f6f6;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

.state#start.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: auto;
    display: inline-block;
    outline: none;
    border: none;
    padding: .6rem 2rem;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}

#colors {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.color-square {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-bottom: 6px;
}

.color-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-field label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.form-field .form-input-wrapper {
    background-color: #404040;
    padding: 8px 16px;
    border-radius: 3px;
}

.form-field .form-input-wrapper input {
    width: 100%;
    font-size: 16px;
    display: inline-block;
    outline: none;
    border: none;
    color: #FFFFFF;
    background-color: transparent;
}

#hint-box {
    margin-top: 6px;
}

#hint-box span {
    color: #cccccc;
}
