html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #f6f6f6;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #222222;
}

h1 {
    font-size: 48px;
    color: #f6f6f6;
}